{% extends 'layout.html' %}
{% load static %}

{% block title %}Корзина{% endblock %}

{% block main %}

<div class="centered-title">Корзина</div>


{% if cart_data.items %}
<div class="d-flex justify-content-end mb-4">
    <button type="button" class="cart-btn bg-white p-3" data-bs-toggle="modal" data-bs-target="#exampleModalCenter">
        Очистить корзину
    </button>
</div>

<div class="modal fade" id="exampleModalCenter" tabindex="-1" aria-labelledby="exampleModalCenterTitle"
     aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-fullscreen-lg-down">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalCenterTitle">Корзина</h1>
            </div>
            <div class="modal-body">
                <p>Вы действительно хотите очистить корзину?</p>
            </div>


                             <div class="modal-footer d-flex">
                <form action="{% url 'cart:clear' %}" class="flex-fill">
                    <button class="btn text-white" style="background: #7acc18; width: 100%">
                        <span>Да</span>
                    </button>
                </form>
                    <button type="button" class="btn btn-secondary flex-fill" data-bs-dismiss="modal">Нет</button>
                </div>



        </div>
    </div>
</div>


<div class="row m-0">
    <div class="col-12 col-lg-7 p-0">
        {% for item in cart_data.items %}
        <div style="padding-bottom: 20px">

            <!--карточка-->
            <div class="in-product-card bg-white d-flex justify-content-between">

                <div class="d-flex">
                    <a href="{% url 'product_details' item.product_variant.product.slug item.product_variant.color.slug %}">
                        {% if item.product_variant.main_image %}
                        <img src="{{ item.product_variant.main_image.url }}" alt="{{item.product_variant}}"
                             style="width: 150px; height: 150px; object-fit: contain;display: block;" class="me-3 d-block">
                        {% else %}
                        <div style="color: #76bc21">{{item.product_variant}}</div>
                        {% endif %}
                    </a>


                    <div>
                        <a class="nav-link"
                           href="{% url 'product_details' item.product_variant.product.slug item.product_variant.color.slug %}">
                            <p class="detail-title p-0">{{item.product_variant}}</p>
                        </a>

                        {% include 'quantity-btn.html' %}
                    </div>
                </div>


                <div class="d-flex flex-column justify-content-between">
                    <div class="text-end">
                        <p>{{ item.total_price }}</p>
                        {% if item.quantity > 1 %}
                        <p class="text-secondary">{{ item.product_variant.product.price }} | 1 шт</p>
                        {% endif %}
                    </div>


                    <form class="text-end" method="post" action="{% url 'cart:remove' item.id%}">
                        {% csrf_token %}
                        <button class="btn btn-sm">
                            <svg class="svg-delete" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1024 1024"><path fill="currentColor" d="M160 256H96a32 32 0 0 1 0-64h256V95.936a32 32 0 0 1 32-32h256a32 32 0 0 1 32 32V192h256a32 32 0 1 1 0 64h-64v672a32 32 0 0 1-32 32H192a32 32 0 0 1-32-32zm448-64v-64H416v64zM224 896h576V256H224zm192-128a32 32 0 0 1-32-32V416a32 32 0 0 1 64 0v320a32 32 0 0 1-32 32m192 0a32 32 0 0 1-32-32V416a32 32 0 0 1 64 0v320a32 32 0 0 1-32 32"/></svg>
                        </button>
                    </form>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>

    <div class="col-1"></div>

    <div class="col-12 col-lg-4 p-0">
        <div class="in-product-card bg-white d-flex flex-column justify-content-between">
            <p class="d-flex justify-content-between">
                <span>Товаров</span><span>{{cart_data.total_items}}</span>
            </p>
            <p class="d-flex justify-content-between">
                <span>Итого</span><span>{{cart_data.subtotal}}</span>
            </p>
            <a class="cart-btn py-3 text-center"
               href="{% if user.is_authenticated %}{% url 'new_order' %}{% else %}{% url 'login' %}{% endif %}">
                Создать заказ
            </a>
        </div>
    </div>
</div>


{% else %}
<div class="row text-center">
    <p class="text-secondary">Корзина пустая</p>
    <a class="nav-link" href="{% url 'main' %}">Вернуться к покупкам</a>
</div>
{% endif %}

{% endblock %}