{% extends 'layout.html' %}
{% load crispy_forms_tags %}
{% block title %}{{category.name}}{% endblock %}


{% block main %}
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a class="nav-link" href="{% url 'main' %}">Каталог</a></li>
        <li class="breadcrumb-item active" aria-current="page">{{category.name}}</li>
    </ol>
</nav>

<div class="page-title">{{category.name}}</div>

<div class="row mb-4">
   {% for popular_category in popular_categories|slice:":4" %}
    <div class="index-category col-6 col-lg-3 col-xl-4">
        <a class="p-3 d-flex align-items-center btn border-0 rounded-0 {% if popular_category.name == category.name %}active bg-white border-0{% endif %}" href="{% url 'catalog_category' popular_category.slug %}">
            <img class="catalog-cat-image" src="{{ popular_category.image.url }}">
            <div class="mx-2">{{ popular_category.name }}</div>
            <span class="badge text-bg-secondary">{{ popular_category.product_count }}</span>
        </a>
    </div>
    {% endfor %}
</div>



<form method="get">
    <p>Сортировка</p>
    {% for radio in sort_form %}
        {{radio}}
    {% endfor %}
</form>


{% if products %}
{% include 'product-card.html' %}
{% else %}
<div class="row text-center text-secondary">
    <p>Ничего не найдено</p>
</div>
{% endif %}

{% endblock %}