{% extends 'layout.html' %}

{% block title %}Главная{% endblock %}


{% block main %}
<div class="small-hl">Популярные категории</div>

<div class="row mb-4">
   {% for popular_category in popular_categories|slice:":4" %}
    <div class="index-category col-6 col-lg-3 col-xl-2">
        <a class="p-3 d-flex align-items-center btn border-0 rounded-0 bg-white border-0" href="{% url 'catalog_category' popular_category.slug %}">
            <img class="catalog-cat-image" src="{{ popular_category.image.url }}">
            <div class="mx-2">{{ popular_category.name }}</div>
            <span class="badge text-bg-secondary">{{ popular_category.product_count }}</span>
        </a>
    </div>
    {% endfor %}
</div>






<div class="small-hl">Новинки</div>

{% include 'product-card.html' %}
{% endblock %}