{% extends 'layout.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %}Новый заказ{% endblock %}

{% block main %}
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a class="nav-link" href="{% url 'cart:details' %}">Корзина</a>
        </li>
        <li class="breadcrumb-item active" aria-current="page">Новый заказ</li>
    </ol>
</nav>


<form method="post" class="mt-5">
    {% csrf_token %}

    <div class="small-hl">1. Данные покупателя</div>
    <div class="d-flex mb-5" style="gap: 15px">
        {{ form.email|as_crispy_field }}
        {{ form.phone|as_crispy_field }}
    </div>

    <div class="small-hl">2. Адрес доставки</div>
    <div class="d-flex mb-5" style="gap: 15px">
        {{ form.city|as_crispy_field }}
        {{ form.street|as_crispy_field }}
        {{ form.building|as_crispy_field }}
        {{ form.flat|as_crispy_field }}
    </div>

    <div class="small-hl">3. Оплата</div>
    <p class="mb-5">Сумма заказа: {{ cart_data.subtotal }}</p>

    <button class="cart-btn p-3" style="width: 200px" type="submit">Заказать</button>
</form>


{% endblock %}