{% extends 'layout.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %}Новый заказ{% endblock %}

{% block main %}
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a class="nav-link" href="{% url 'cart:details' %}">Корзина</a>
        </li>
        <li class="breadcrumb-item active" aria-current="page">Новый заказ</li>
    </ol>
</nav>


<form method="post" class="col-12 col-lg-9 mt-5">
    {% csrf_token %}

    <div class="small-hl">1. Данные покупателя</div>
    <div class="row mb-5">
        <div class="col-12 col-lg-6">{{ form.email|as_crispy_field }}</div>
        <div class="col-12 col-lg-6">{{ form.phone|as_crispy_field }}</div>
    </div>

    <div class="small-hl">2. Адрес доставки</div>
    <div class="row mb-5">
        <div class="col-12 col-lg-3">{{ form.city|as_crispy_field }}</div>
        <div class="col-12 col-lg-3">{{ form.street|as_crispy_field }}</div>
        <div class="col-12 col-lg-3">{{ form.building|as_crispy_field }}</div>
        <div class="col-12 col-lg-3">{{ form.flat|as_crispy_field }}</div>
    </div>

    <div class="small-hl">3. Оплата</div>
    <p class="mb-5">Сумма заказа: {{ cart_data.subtotal }}</p>

    <button class="cart-btn p-3 px-5"  type="submit">Заказать</button>

</form>


{% endblock %}