{% extends 'layout.html' %}
{% load crispy_forms_tags %}

{% block title %}Вход{% endblock %}


{% block main %}
<div class="row" style="margin-top: 70px">
    <div class="col-lg-3"></div>
    <div class="col-lg-6">
         <h4 class="small-hl mb-4">Вход</h4>

        <form class="d-flex flex-column" method="post">
            {% csrf_token %}
            {{ form|crispy }}
            <button class="cart-btn py-3" type="submit">Войти</button>
            <div class="mt-4">Нет аккаунта? <a class="link-underline link-underline-opacity-0 link-dark" href="{% url 'register' %}">Регистрация</a></div>
        </form>
    </div>

    <div class="col-lg-3"></div>
</div>
{% endblock %}