{% extends 'layout.html' %}
{% load crispy_forms_tags %}

{% block title %}Профиль{% endblock %}


{% block main %}
<div class="row m-0">
    <div class="col-3 bg-white d-flex flex-column p-4">

        <a class="py-3 nav-link border-bottom d-flex align-items-center" href="{% url 'my_reviews' %}">
            <span>Мои отзывы</span>
        </a>
        <a onclick="return confirm('Вы действительно хотите выйти?');" class="py-3 nav-link border-bottom d-flex align-items-center" href="{% url 'logout' %}">
            <span>Выйти</span>
        </a>


    </div>

    <div class="col-9 ps-4 pe-0">
      <h4 class="small-hl">{{user.username}}</h4>
        <form method="post">
            {% csrf_token %}
            {{ form|crispy }}
            <button type="submit">Сохранить</button>
        </form>
    </div>
</div>
{% endblock %}